@model  ChangePasswordModel
@{ 
    ViewBag.Title = "Change Password";
}


<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Forgot Password</h5>
                <form class="form-signin" method="post">
                    <div class="form-label-group">
                        <input type="password" class="form-control" asp-for="OldPassword" placeholder="Old Password" autofocus required>
                        <label asp-for="OldPassword">Old Password</label>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-label-group">
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" required>
                        <label asp-for="NewPassword">New Password</label>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-label-group">
                        <input type="password"  class="form-control" asp-for="ConfirmPassword" placeholder="New Password" required>
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>