@model ForgotPasswordModel
@{ 
    ViewBag.Title = "Forgot Password";
}

    <div class="container">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Forgot Password</h5>
                    <form class="form-signin" method="post">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" asp-for="Email" name="email" placeholder="Email address" autofocus required>
                            <label asp-for="Email">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>