@model ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Change Password</h5>
                <form class="form-signin" method="post">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" asp-for="Password" placeholder="Password" autofocus required>
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputconfirmPassword" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                        <label asp-for="ConfirmPassword">Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <hr class="my-4">
                    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="succesmodel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Success</h4>
            </div>
            <div class="modal-body">
                <h2>Registration Succesful</h2>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        @if(ViewBag.Success == true)
         {
           <text>
        $(document).ready(function () {
           Swal.fire(
              'Good job!',
              'You clicked the button!',
              'success'
           )
          </Text>
        }
        else
        {
            <Text>
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong!',
              footer: '<a href>Why do I have this issue?</a>'
            })
            </text>
        }
    </script>
}