@{ 
    ViewBag.Title = "Successful";
}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="text-success">Transaction Successful</h3>
            </div>
            <div class="col-sm-12 text-center">
                <h3 class="text-success">Thank you</h3>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#" class="btn btn-primary mb-2">List Transactions</a>
                <a href="#" class="btn btn-primary mb-2">Your Balance</a>
            </div>
        </div>
    </div>